body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg') no-repeat;
    background-size: 100% 130%;
}

.container {
    overflow-y: scroll;
}

.chat-container {
    width: 400px;
    height: 500px;
    overflow-y: scroll;
}

.chat-item {
    display: flex;
}

.bot-chat-item {
    margin-right: auto;
    background: #eaffea;
}

.user-chat-item {
    margin-left: auto;
    background: #e2e2ff;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
    width: fit-content;
}
.input-container input {
    width: 300px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}

.input-container button {
    padding: 5px 10px;
}
