body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('https://cdn.pixabay.com/photo/2018/08/14/13/23/ocean-3605547_1280.jpg') no-repeat;
    background-size: 100% 130%;
}

.container {
    position: relative;
    width: 600px;
    height: 100%;
}

.chat-container {
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    margin-block: 5%;
}

.chat-item {
    display: flex;
}

.bot-chat-item {
    margin-right: auto;
    background: #eaffea;
}

.user-chat-item {
    margin-left: auto;
    background: #e2e2ff;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
    width: fit-content;
    font-family: Arial, Helvetica, sans-serif;
}

.input-container {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.input-container textarea {
    position: relative;
    resize: none;
    border: none;
    height: 20px;
    margin-bottom: 5px;
    width: 80%;
    margin-top: 5px;
    margin-left: 10px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

.input-container button {
    /* 按钮的样式 */
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
