<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Chat</title>
    <link rel="stylesheet" href="/static/css/chat.css">
    <link rel="stylesheet" href="/static/css/stable.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
        </div>
        <div class="input-container">
            <textarea type="text" id="message-input" placeholder="Type your message..." ></textarea>
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="/static/js/stable.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/showdown@1.9.0/dist/showdown.min.js"></script>
    <script>
        function genereteMessageElem(message, sender) {
            var element = document.createElement('div')
            element.classList.add('chat-item')
            var innerElement = document.createElement('div')
            innerElement.classList.add('message')

            if (sender == 'user') {
                innerElement.classList.add('user-chat-item','user-message')
            } else {
                innerElement.classList.add('bot-chat-item','bot-message')
            }
            //创建实例
            var converter = new showdown.Converter();
 
            //进行转换
            var html = converter.makeHtml(message);

            innerElement.innerHTML = html

            element.appendChild(innerElement)

            return element
        }

        function sendMessage() {
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value;
            var chatContainer = document.querySelector('.chat-container');
            if (message) {
                var messageElement = genereteMessageElem(message, "user")
                chatContainer.appendChild(messageElement);
                chatContainer.scrollTop = chatContainer.scrollHeight
                messageInput.value = ''
            } else {
                return
            }

            var formData = new FormData();
            formData.append("userMessage", message);
            fetch("/chat/queryGpt", {
                method:"POST",
                body: formData
                }).then(function(response) {
                    response.json().then(function(data) {
                    var botMSg = data["botResponce"]
                    botElement = genereteMessageElem(botMSg, "bot")
                    chatContainer.appendChild(botElement)
                    chatContainer.scrollTop = chatContainer.scrollHeight
                })
            })
        }
    </script>
</body>
</html>