<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Your Chat</title>
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="chat-item">
            <div class="message bot-message bot-chat-item">Hello! How can I assist you today?</div>
            </div>
        </div>
        <div class="input-container">
            <input type="text" id="message-input" placeholder="Type your message..." />
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script>
        function genereteMessageElem(message, sender) {
            var element = document.createElement('div')
            element.classList.add('chat-item')
            var innerElement = document.createElement('div')
            innerElement.classList.add('message')

            if (sender == 'user') {
                innerElement.classList.add('user-chat-item','user-message')
            } else {
                innerElement.classList.add('bot-chat-item','bot-message')
            }
            innerElement.innerText = message

            element.appendChild(innerElement)

            return element
        }

        function sendMessage() {
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value;
            var chatContainer = document.querySelector('.chat-container');
            if (message) {
                var messageElement = genereteMessageElem(message, "user")
                chatContainer.appendChild(messageElement);
                messageInput.value = ''
            } else {
                return
            }

            var formData = new FormData();
            formData.append("userMessage", message);
            fetch("/chat/queryGpt", {
                method:"POST",
                body: formData
                }).then(function(response) {
                    response.json().then(function(data) {
                    var botMSg = data["botResponce"]
                    botElement = genereteMessageElem(botMSg, "bot")
                    chatContainer.appendChild(botElement)
                })
            })
        }
    </script>
</body>
</html>