<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="stylesheet" href="/static/css/stable.css">
  <title>Login</title>
</head>

<body>
  <div id="login_box">
    <h2>LOGIN</h2>
    <div id="input_box">
      <input type="text" id="name" placeholder="请输入用户名">
    </div>
    <div class="input_box">
      <input type="password" id="password" placeholder="请输入密码">
    </div>
    <div>
      <span id="login_result" hidden="true"></span><br>
      <span id="back_now" hidden="true" onclick="backToPrePage()">立即返回</span>
    </div>
    <button class="login_button" id="login">登录</button><br>
  </div>

  <script src="/static/js/stable.js"></script>
  <script>
    function backToPrePage() {
      fetch("/backPage", {
          method:"GET"
        }).then(function(response) {
          response.json().then(function(data) {
            window.location.href = data["prepage"]
          })
        })
    }
    window.onload = function() {
      document.getElementById("login").addEventListener("click", function(event) {
        event.preventDefault(); // 阻止表单默认提交行为
        
        var name = document.getElementById("name").value;
        var password = document.getElementById("password").value;
    
        //POST URL
        var url = "/login";
        var formData = new FormData();
        formData.append("name", name);
        formData.append("password", password);

        // 发送请求到后端
        // 可以使用fetch、XMLHttpRequest等方法发送请求
        // 以下示例使用fetch发送POST请求
        fetch(url, {
          method: "POST",
          body: formData
        })
        .then(function(response) {
          // 处理响应
          response.json().then(function(data) {
            var item = document.getElementById("login_result")
            var backPageBtn = document.getElementById("back_now")
            item.hidden = false
            backPageBtn.hidden = false
            if (data.status == "true") {
              console.log("success")
              item.innerText = "登录成功, 3s后返回登陆前页面"
              var remainTime = 3
              function updateRemainTime() {
                    item.innerText = "登陆成功," + remainTime +"秒后返回登陆前页面"
                    remainTime--
                    if (remainTime > 0) {
                      setTimeout(updateRemainTime, 1000)
                    } else {
                      backToPrePage()
                    }
                  }
              updateRemainTime()
            } else {
              item.innerText = "用户名或者密码不正确"
              console.log("false")
            }
          })
        })
        .catch(function(error) {
          // 处理错误
        });
      });
    };
  </script>
</body>

</html>


