<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/registe.css">
  <link rel="stylesheet" href="/static/css/stable.css">
  <title>Register</title>
</head>

<body>
  <div id="register_box">

    <h2>REGISTE</h2>
    <form id="register_form">
      <div id="input_box">
        <input type="text" id="name" placeholder="请输入用户名" required>
      </div>
      <div class="input_box">
        <input type="text" id="age" placeholder="年龄" required>
      </div>
      <div class="input_box">
        <input type="password" id="password" placeholder="请输入密码" required>
      </div>
      <div class="input_box">
        <input type="password" id="repeat_password" placeholder="请再输入一次密码" required>
        <span id="password_check" hidden="true"></span>
      </div>
      <button class="login_button" type="submit" id="register">注册</button><br>
    </form>
  </div>
  <script src="/static/js/stable.js"></script>
  <script>
    window.onload = function() {
      document.getElementById("register_form").addEventListener("submit", function(event) {
        event.preventDefault(); // 阻止表单默认提交行为

        var name = document.getElementById("name").value;
        var password = document.getElementById("password").value;
        var repeatPassword = document.getElementById("repeat_password").value
        var age = document.getElementById("age").value

        if (name == "" || password == "" || repeatPassword == "" || age == "") {
          var item = document.getElementById("password_check")
          item.innerText = "信息不完整"
          item.hidden = false
          return
        }
     
        if (repeatPassword != password) {
          var item = document.getElementById("password_check")
          item.innerText = "密码输入不一致"
          item.hidden = false
          return
        }
    
        //POST URL
        var url = "/registe";
        var formData = new FormData();
        formData.append("name", name);
        formData.append("age", age)
        formData.append("password", password);

        // 发送请求到后端
        // 可以使用fetch、XMLHttpRequest等方法发送请求
        // 以下示例使用fetch发送POST请求
        fetch(url, {
          method: "POST",
          body: formData
        })
        .then(function(response) {
          // 处理响应
          response.json().then(function(data) {
            var item = document.getElementById("password_check")
            item.hidden = false
            if (data.status == "true") {
              console.log("success")
              item.innerText = "注册成功, 3s后返回登陆页面"
              var remainTime = 3
              function updateRemainTime() {
                    item.innerText = "注册成功," + remainTime +"秒后返回登陆页面"
                    remainTime--
                    if (remainTime > 0) {
                      setTimeout(updateRemainTime, 1000)
                    } else {
                      window.location.href = "/login"
                    }
              }
              updateRemainTime()
            } else {
              item.innerText = "注册失败"
              console.log("false")
            }
          })
        })
        .catch(function(error) {
          // 处理错误
        });
      });
    };
  </script>
</body>

</html>


